<head>
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
</head>

<table class="pure-table pure-table-horizontal" width="50%" align="center">

{% for dict_item in output %}
	<tr>
			<tr height="2">
					<td><a href="{{dict_item['url']}}">{{ dict_item['title'] }}</a><br>
					{{ dict_item['description'] }}</td>
					<td rowspawn="2"><img src="{{ dict_item['image'] }}" width=200 onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/4/47/Comic_image_missing.png';"></td>
			</tr>
	</tr>

{% endfor %}
</table>
</body>